{% extends "blog/blog_page.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block body_class %}page_contact pages_item{% endblock %}

{% block main-content %}
<div class="message_contact">
    <div class="container">
        <div class="message_c">
            <div class="gsc-column">
                <h3 class="title"><span>{{ page.title }}</span></h3>
            </div>
            <div class="contact-message-feedback-form">

                <div class="post-body">
                    {{ page.intro|richtext }}
                </div>

                {% if form %}
                    <!-- Form Errors -->
                    {% if form.errors %}
                        <ul class="errors">
                            {% for error in form.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <!-- Display Form -->
                    <form action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="{{ field.label|slugify }}">
                            <label>{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input class="btn" type="submit" value="Enviar">
                    </form>


                {% endif %}


            </div>
        </div>
    </div>
</div>

{% endblock main-content %}