{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailimages_tags wagtailcore_tags %}

    {% block page_content %}


    <div id="main" class="slideshow">
        <div id="sync10" class="owl-carousel owl-theme">
            {% for slide in page.slideshow_links.all %}
                <div class="item" style="background-image: url('{{ slide.image.file.url }}'); width: 100%;">
                    <div class="container">
                        <div class="text_zz">
                            <h3>{{ slide.text|linebreaks }}</h3>
                            <div class="donate">
                                <div class="button_donate">
                                    <a href="{% pageurl slide.page %}">{{ slide.button_text|default:"Read" }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
    <div id="content">
        <div class="static_donate">
            <div class="container">
                <div class="row">

                    <div class="title col-md-9 col-sm-8 col-xs-12">
                        <h3>El 12 de mayo votá a Juntxs por Anisacate</h3>
                        <p>Gestión Creativa, Integral y Participativa. </p>
                    </div>
                    {% comment %}


                    <div class="donate col-md-3 col-sm-4 col-xs-12">
                        <div class="button_donate">
                            <a href="#">Cómo votar</a>
                        </div>
                    </div>
                    {% endcomment %}

                </div>
            </div>
        </div>
        {% comment %}
        <div class="help">
            <div class="container">
                <div class="row">
                    <div class="title">
                        <span>Queremos una nueva política</span>
                        <h3>Para ponerle fin al <em>feudo</em></h3>
                    </div>

                <div class="left col-md-9">
                    <div class="list-item">
                        <div class="item col-md-6 col-sm-6 col-xs-12">
                            <div class="icon col-md-2">
                                <i class="material-icons">collections_bookmark</i>
                            </div>
                            <div class="text_show col-md-10">
                                <h3>Education</h3>
                                <p>Autoristarismo y </p>
                            </div>
                        </div>
                        <div class="item col-md-6 col-sm-6 col-xs-12">
                            <div class="icon col-md-2">
                                <i class="material-icons">local_cafe</i>
                            </div>
                            <div class="text_show col-md-10">
                                <h3>Help $ Support</h3>
                                <p>Praesent vestibulum aenean nommy eros hendrerit mauris. Cum sociis natoqueing patibuset mgnis parturient.</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="item col-md-6 col-sm-6 col-xs-12">
                            <div class="icon col-md-2">
                                <i class="material-icons">favorite_border</i>
                            </div>
                            <div class="text_show col-md-10">
                                <h3>Volunteering</h3>
                                <p>Praesent vestibulum aenean nommy eros hendrerit mauris. Cum sociis natoqueing patibuset mgnis parturient.</p>
                            </div>
                        </div>
                        <div class="item col-md-6 col-sm-6 col-xs-12">
                            <div class="icon col-md-2">
                                <i class="material-icons">person_add</i>
                            </div>
                            <div class="text_show col-md-10">
                                <h3>Adoption</h3>
                                <p>Praesent vestibulum aenean nommy eros hendrerit mauris. Cum sociis natoqueing patibuset mgnis parturient.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right col-md-3">
                        <img src="{% static 'images/img_static_01.jpg' %}" alt="">
                </div>
            </div>
            </div>
        </div>
        {% endcomment %}
        {% comment %}
        <div class="campaigns">
            <div class="container">
                <div class="row">
                    <div class="title">
                        <h3>Nuestras <b>Propuestas</b></h3>
                    </div>
                    <div id="sync1" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="z">
                                <div class="img">
                                    <div class="img-1">
                                        <img src="{% static 'images/img_01.jpg' %}" alt="">
                                    </div>
                                    <div class="img-2">
                                        <img src="images/62.png" alt="">
                                    </div>
                                </div>
                                <div class="ct">
                                    <div class="text_show">
                                        <h3><a href="pages/campaigns/campaigns-detail.html">Vocational training</a></h3>
                                        <p>Maecenas sed diam eget risus varius blandi amet non magna ullamcorper nulaon...</p>
                                    </div>
                                    <div class="donate">
                                        <div class="button_donate">
                                            <a href="pages/campaigns/campaigns-detail.html">Donate Now</a>
                                        </div>
                                        <p>57 Day left</p>
                                    </div>
                                    <div class="raised">
                                        <p><span>$45,583</span> Raised of <b>$78,324</b> Goal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="z">
                                <div class="img">
                                    <div class="img-1">
                                        <img src="images/img_02.jpg" alt="">
                                    </div>
                                    <div class="img-2">
                                        <img src="images/35.png" alt="">
                                    </div>
                                </div>
                                <div class="ct">
                                    <div class="text_show">
                                        <h3><a href="pages/campaigns/campaigns-detail.html">Education for the Children</a></h3>
                                        <p>Maecenas sed diam eget risus varius blandi amet non magna ullamcorper nulaon...</p>
                                    </div>
                                    <div class="donate">
                                        <div class="button_donate">
                                            <a href="pages/campaigns/campaigns-detail.html">Donate Now</a>
                                        </div>
                                        <p>57 Day left</p>
                                    </div>
                                    <div class="raised">
                                        <p><span>$32,583</span> Raised of <b>$4879</b> Goal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="z">
                                <div class="img">
                                    <div class="img-1">
                                        <img src="images/img_01.jpg" alt="">
                                    </div>
                                    <div class="img-2">
                                        <img src="images/62.png" alt="">
                                    </div>
                                </div>
                                <div class="ct">
                                    <div class="text_show">
                                        <h3><a href="pages/campaigns/campaigns-detail.html">Vocational training</a></h3>
                                        <p>Maecenas sed diam eget risus varius blandi amet non magna ullamcorper nulaon...</p>
                                    </div>
                                    <div class="donate">
                                        <div class="button_donate">
                                            <a href="pages/campaigns/campaigns-detail.html">Donate Now</a>
                                        </div>
                                        <p>57 Day left</p>
                                    </div>
                                    <div class="raised">
                                        <p><span>$45,583</span> Raised of <b>$78,324</b> Goal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="z">
                                <div class="img">
                                    <div class="img-1">
                                        <img src="images/img_03.jpg" alt="">
                                    </div>
                                    <div class="img-2">
                                        <img src="images/86.png" alt="">
                                    </div>
                                </div>
                                <div class="ct">
                                    <div class="text_show">
                                        <h3><a href="pages/campaigns/campaigns-detail.html">Education for the Children</a></h3>
                                        <p>Maecenas sed diam eget risus varius blandi amet non magna ullamcorper nulaon...</p>
                                    </div>
                                    <div class="donate">
                                        <div class="button_donate">
                                            <a href="pages/campaigns/campaigns-detail.html">Donate Now</a>
                                        </div>
                                        <p>57 Day left</p>
                                    </div>
                                    <div class="raised">
                                        <p><span>$45,583</span> Raised of <b>$78,324</b> Goal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="z">
                                <div class="img">
                                    <div class="img-1">
                                        <img src="images/img_01.jpg" alt="">
                                    </div>
                                    <div class="img-2">
                                        <img src="images/62.png" alt="">
                                    </div>
                                </div>
                                <div class="ct">
                                    <div class="text_show">
                                        <h3><a href="pages/campaigns/campaigns-detail.html">Education for the Children</a></h3>
                                        <p>Maecenas sed diam eget risus varius blandi amet non magna ullamcorper nulaon...</p>
                                    </div>
                                    <div class="donate">
                                        <div class="button_donate">
                                            <a href="pages/campaigns/campaigns-detail.html">Donate Now</a>
                                        </div>
                                        <p>57 Day left</p>
                                    </div>
                                    <div class="raised">
                                        <p><span>$45,583</span> Raised of <b>$78,324</b> Goal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="z">
                                <div class="img">
                                    <div class="img-1">
                                        <img src="images/img_01.jpg" alt="">
                                    </div>
                                    <div class="img-2">
                                        <img src="images/62.png" alt="">
                                    </div>
                                </div>
                                <div class="ct">
                                    <div class="text_show">
                                        <h3><a href="pages/campaigns/campaigns-detail.html">Education for the Children</a></h3>
                                        <p>Maecenas sed diam eget risus varius blandi amet non magna ullamcorper nulaon...</p>
                                    </div>
                                    <div class="donate">
                                        <div class="button_donate">
                                            <a href="pages/campaigns/campaigns-detail.html">Donate Now</a>
                                        </div>
                                        <p>57 Day left</p>
                                    </div>
                                    <div class="raised">
                                        <p><span>$45,583</span> Raised of <b>$78,324</b> Goal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
        <div class="recent">
            <div class="container">
                <div class="row">
                    <div class="title">
                        <h3>Una <b>nueva política</b> para <b>Anisacate</b></h3>
                    </div>
                    <div class="left col-md-12 col-sm-12 col-xs-12">


                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2LYAJPGDCbE?rel=0" allowfullscreen></iframe>
                        </div>


                    </div>
                    {% comment %}


                    <div class="right col-md-6 col-sm-12 col-xs-12">
                        <div class="item col-md-12 col-sm-4 col-xs-12">
                            <div class="row">
                                <div class="img col-md-5">
                                    <img src="images/stories_img_02.jpg" alt="">
                                </div>
                                <div class="txt col-md-7">
                                    <a href="#">STORY</a>
                                    <p>BGEA Chaplains Aim to Share Place, Hope in Midst of Civil Unrest in Milwaukee</p>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12 col-sm-4 col-xs-12">
                            <div class="row">
                                <div class="img col-md-5">
                                    <img src="images/stories_img_03.jpg" alt="">
                                </div>
                                <div class="txt col-md-7">
                                    <a href="#">VIDEO</a>
                                    <p>Get a free ride to the Aquarium aboard the MST Trolley</p>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12 col-sm-4 col-xs-12">
                            <div class="row">
                                <div class="img col-md-5">
                                    <img src="images/stories_img_04.jpg" alt="">
                                </div>
                                <div class="txt col-md-7">
                                    <a href="#">STORY</a>
                                    <p>Watch! Viggo Mortensen Celebrates 100 years of National Parks</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
        <div class="join">
            <div class="container">
                <div class="row">
                    <div class="text_show col-md-6">
                        <h3>Sumate a la campaña</h3>
                        <p>Juntxs por Anisacate es un colectivo diverso. Nuestras ideas y propuestas son el eje en la construcción de este nuevo espacio. La participación ciudadana por sobre las individualidades.</p>
                        <div class="donate">
                            <div class="button_donate">
                                <a href="/contacto">¡Sumate!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}


        <div class="meet">
            <div class="container">
                <div class="row">
                    <div class="title">
                        <h3>Meet Our <b>Volunteers</b></h3>
                    </div>
                    <div id="sync2" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="img">
                                <img src="images/meet_img_01.jpg" alt="">
                                <div class="social">
                                    <span>
                                        <a href=""><i class="fa fa-facebook"></i></a><br>
                                        <a href=""><i class="fa fa-twitter"></i></a><br>
                                        <a href=""><i class="fa fa-dribbble"></i></a><br>
                                        <a href=""><i class="fa fa-google-plus"></i></a><br>
                                        <a href=""><i class="fa fa-instagram"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="text_show">
                                <h3><a href="#">Michale Blacksun</a></h3>
                                <p>Duis elentum sapien neque  Habitant morbi trique</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <img src="images/meet_img_02.jpg" alt="">
                                <div class="social">
                                    <span>
                                        <a href=""><i class="fa fa-facebook"></i></a><br>
                                        <a href=""><i class="fa fa-twitter"></i></a><br>
                                        <a href=""><i class="fa fa-dribbble"></i></a><br>
                                        <a href=""><i class="fa fa-google-plus"></i></a><br>
                                        <a href=""><i class="fa fa-instagram"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="text_show">
                                <h3><a href="#">Gareth Sougate</a></h3>
                                <p>Duis elentum sapien neque  Habitant morbi trique</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <img src="images/meet_img_01.jpg" alt="">
                                <div class="social">
                                    <span>
                                        <a href=""><i class="fa fa-facebook"></i></a><br>
                                        <a href=""><i class="fa fa-twitter"></i></a><br>
                                        <a href=""><i class="fa fa-dribbble"></i></a><br>
                                        <a href=""><i class="fa fa-google-plus"></i></a><br>
                                        <a href=""><i class="fa fa-instagram"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="text_show">
                                <h3><a href="#">Michale Blacksun</a></h3>
                                <p>Duis elentum sapien neque  Habitant morbi trique</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <img src="images/meet_img_03.jpg" alt="">
                                <div class="social">
                                    <span>
                                        <a href=""><i class="fa fa-facebook"></i></a><br>
                                        <a href=""><i class="fa fa-twitter"></i></a><br>
                                        <a href=""><i class="fa fa-dribbble"></i></a><br>
                                        <a href=""><i class="fa fa-google-plus"></i></a><br>
                                        <a href=""><i class="fa fa-instagram"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="text_show">
                                <h3><a href="#">Jessica Albalis</a></h3>
                                <p>Duis elentum sapien neque  Habitant morbi trique</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <img src="images/meet_img_04.jpg" alt="">
                                <div class="social">
                                    <span>
                                        <a href=""><i class="fa fa-facebook"></i></a><br>
                                        <a href=""><i class="fa fa-twitter"></i></a><br>
                                        <a href=""><i class="fa fa-dribbble"></i></a><br>
                                        <a href=""><i class="fa fa-google-plus"></i></a><br>
                                        <a href=""><i class="fa fa-instagram"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="text_show">
                                <h3><a href="#">Maria Okazaki</a></h3>
                                <p>Duis elentum sapien neque  Habitant morbi trique</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <img src="images/meet_img_05.jpg" alt="">
                                <div class="social">
                                    <span>
                                        <a href=""><i class="fa fa-facebook"></i></a><br>
                                        <a href=""><i class="fa fa-twitter"></i></a><br>
                                        <a href=""><i class="fa fa-dribbble"></i></a><br>
                                        <a href=""><i class="fa fa-google-plus"></i></a><br>
                                        <a href=""><i class="fa fa-instagram"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="text_show">
                                <h3><a href="#">Tran Tuan Tu</a></h3>
                                <p>Duis elentum sapien neque  Habitant morbi trique</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}

        {% comment %}
        <div class="people_say">
            <div class="container">
                <div class="row">
                    <div class="wrap">
                        <div class="title">
                            <h3>What people <b>Say?</b></h3>
                        </div>
                        <div id="sync4" class="owl-carousel owl-theme">
                            <div class="item">
                                <p><span>"</span> I go to many land, meet many people and know that there are many<br> poor people that need our help. <span>"</span></p>
                                <h4>John Doe</h4>
                                <p class="l">Ceo of MediaLeak - <a href="#">www.medialeak.com</a></p>
                            </div>
                            <div class="item">
                                <p><span>"</span> I go to many land, meet many people and know that there are many<br> poor people that need our help. <span>"</span></p>
                                <h4>John Doe</h4>
                                <p class="l">Ceo of MediaLeak - <a href="#">www.medialeak.com</a></p>
                            </div>
                            <div class="item">
                                <p><span>"</span> I go to many land, meet many people and know that there are many<br> poor people that need our help. <span>"</span></p>
                                <h4>John Doe</h4>
                                <p class="l">Ceo of MediaLeak - <a href="#">www.medialeak.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt_images">
            <div class="container">
                <div class="row">
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="content_block">
                            <span class="zmdi zmdi-favorite-outline" style="color: #ff9800;"></span>
                            <h3 class="i1" style="color: #ff9800;">60,875</h3>
                            <p>Volunteer Helper</p>
                        </div>
                    </div>
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="content_block">
                            <span class="zmdi zmdi-card-giftcard" style="color: rgb(139, 202, 78);"></span>
                            <h3 class="i2" style="color: rgb(139, 202, 78);">682,345</h3>
                            <p>Donated</p>
                        </div>
                    </div>
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="content_block">
                            <span class="zmdi zmdi-mood" style="color: #fec501;"></span>
                            <h3 class="i3" style="color: #fec501;">28,374</h3>
                            <p>Happy Children</p>
                        </div>
                    </div>
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="content_block">
                            <span class="zmdi zmdi-library" style="color: #5586e8;"></span>
                            <h3 class="i4" style="color: #5586e8;">589</h3>
                            <p>Products & Gifts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
        {% comment %}
        <div class="global">
            <div class="container">
                <div class="title">
                    <h3>Global <b>Partners</b></h3>
                </div>
                <div class="content">
                    <ul id="sync5" class="owl-carousel owl-theme">
                        <li class="item">
                            <div class="bl_image">
                                <img src="images/global_01.png" alt="">
                            </div>
                        </li>
                        <li class="item">
                            <div class="bl_image">
                                <img src="images/global_02.png" alt="">
                            </div>
                        </li>
                        <li class="item">
                            <div class="bl_image">
                                <img src="images/global_03.png" alt="">
                            </div>
                        </li>
                        <li class="item">
                            <div class="bl_image">
                                <img src="images/global_04.png" alt="">
                            </div>
                        </li>
                        <li class="item">
                            <div class="bl_image">
                                <img src="images/global_05.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}
        <div class="instagram">
            <div class="container">
                <div class="row">
                    <div class="title">
                        <h3>Seguinos en Instagram <a href="https://www.instagram.com/JuntxsPorAnisacate/">@JuntxsPorAnisacate</a></h3>
                    </div>
                    <div class="content">
                        <ul id="sync6" class="owl-carousel owl-theme">
                            <li class="item">
                                <img src="images/i_img1.jpg" alt="">
                            </li>
                            <li class="item">
                                <img src="images/i_img2.jpg" alt="">
                            </li>
                            <li class="item">
                                <img src="images/i_img3.jpg" alt="">
                            </li>
                            <li class="item">
                                <img src="images/i_img4.jpg" alt="">
                            </li>
                            <li class="item">
                                <img src="images/i_img5.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}


        <div class="ready">
            <div class="container">
                <div class="left col-md-6 col-sm-12 col-xs-12">
                    <h3>Are you ready to volunteer?</h3>
                </div>
                <div class="right col-md-6 col-sm-12 col-xs-12">
                    <div class="b">
                        <div class="button_donate btn-1">
                            <a href="#">Become a Volunteer</a>
                        </div>
                        <div class="button_donate btn-2">
                            <a href="#">Make a Donation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
    {% endblock page_content %}